<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :superadmin_role %>
    <% options = [true, false] %>
    <%= form.select :superadmin_role, options %>
  </div>

  <div class="field">
    <%= form.label :doctor_role %>
    <% options = [true, false] %>
    <%= form.select :doctor_role, options %>
  </div>

  <div class="field">
    <%= form.label :nurse_role %>
    <% options = [true, false] %>
    <%= form.select :nurse_role, options %>
  </div>

  <div class="field">
    <%= form.label :user_role %>
    <% options = [true, false] %>
    <%= form.select :user_role, options %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
