<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Email Address</th>
    <th>Superadmin role</th>
    <th>Doctor role</th>
    <th>Nurse role</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.superadmin_role %></td>
      <td><%= user.doctor_role %></td>
      <td><%= user.nurse_role %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>