<%= form_with(model: [@patient, dosage], local: true) do |form| %>
  <% if dosage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dosage.errors.count, "error") %> prohibited this dosage from being saved:</h2>

      <ul>
        <% dosage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.label :prescribed_insulin %>
    <% options = [prescription.prescribed_insulin] %>
    <%= form.select :prescribed_insulin, options %>
  </div>

  <div class="field">
    <%= form.label :timestamp %>
    <%= form.datetime_select :timestamp %>
  </div>

  <div class="field">
    <%= form.label :blood_sugar_level %>
    <%= form.number_field :blood_sugar_level, min: 1, max:500  %>
  </div>



  <div class="field">
    <%= form.label :applied_insulin %>
    <%= form.number_field :applied_insulin, min: 1%>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
