<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<%= link_to 'Patient Data', patient_path(@patient) %>
</p>
<% if can? :manage, Dosage %>
  <td>
    <%= link_to 'New Dosage', new_patient_dosage_path %>
  </td>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>
<p>
  <strong>Contact Number:</strong>
  <%= @patient.contact_number %>
</p>



<h1>Dosages</h1>
<div>
  <%= form_tag patient_dosages_path, method: :get do %>
    <%= datetime_field_tag 'search[date_from]', @search.date_from %>
    <%= datetime_field_tag 'search[date_to]', @search.date_to %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>

<table class="center" id="table">
  <thead>
  <% if @dosages_count!=0 %>
    <tr><td><strong>Average Blood Sugar:</strong> <%= @dosages.sum(:blood_sugar_level) / @dosages_count %></td></tr>
    <tr><td><strong>Average Insulin Applied:</strong> <%= @dosages.sum(:applied_insulin) / @dosages_count %></td></tr>
  <%end %>
  </thead>

  <tbody>
    <th>Timestamp</th>
    <th>Blood Sugar</th>
    <th>Prescribed Insulin</th>
    <th>Applied Insulin</th>
    <th>Comments</th>

    <% @dosages.each do |dosage| %>
      <tr class="<%=cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= dosage.timestamp %>
        </td>
        <td>
          <%= dosage.blood_sugar_level %>
        </td>
        <td>
          <%= dosage.prescribed_insulin %>
        </td>
        <td>
          <%= dosage.applied_insulin %>
        </td>
        <td>
          <%= dosage.comments %>
        </td>
        <td><%= link_to 'Show', patient_dosage_path(@patient, dosage) %></td>
        <% if can? :manage, Dosage %>
        <td><%= link_to 'Edit', edit_patient_dosage_path(@patient,dosage) %></td>
        <td><%= button_to 'Delete', [@patient,dosage], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

    <% end %>
    <%= paginate @dosages %>

  </tbody>
</table>

