<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>
<p>
  <strong>Contact Number:</strong>
  <%= @patient.contact_number %>
</p>
  <p>
    <strong>Average Blood Sugar Level:</strong>
    <%= @dosages.sum(:blood_sugar_level) / @dosages.count %>
  </p>
  <p>
    <strong>Average Applied Insulin:</strong>
    <%= @dosages.sum(:applied_insulin) / @dosages.count %>
  </p>



<h1>Dosages</h1>
<table class="center" id="table">
  <thead>
  <tr>
    <% if can? :manage, Dosage %>
    <td>
      <%= link_to 'New Dosage', new_patient_dosage_path %>
    </td>
    <% end %>
    <td>
      <%= link_to 'Back', patient_path(@patient) %>
    </td>
  </tr>
  </thead>

  <tbody>
    <th>Timestamp</th>
    <th>Blood Sugar</th>
    <th>Prescribed Insulin</th>
    <th>Applied Insulin</th>
    <th>Comments</th>
    <% @dosages.each do |dosage| %>
      <tr class="<%=cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= dosage.timestamp %>
        </td>
        <td>
          <%= dosage.blood_sugar_level %>
        </td>
        <td>
          <%= dosage.prescribed_insulin %>
        </td>
        <td>
          <%= dosage.applied_insulin %>
        </td>
        <td>
          <%= dosage.comments %>
        </td>
        <td><%= link_to 'Show', patient_dosage_path(@patient, dosage) %></td>
        <% if can? :manage, Dosage %>
        <td><%= link_to 'Edit', edit_patient_dosage_path(@patient,dosage) %></td>
        <td><%= button_to 'Delete', [@patient,dosage], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


