<% if can? :manage, User %>
  <td><%= link_to 'Users', users_index_path, method: :get %></td>
<% end %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.contact_number %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <% if can? :manage, Patient %>
        <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
