<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @patient.contact_number %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %>
<%= link_to 'Back', patients_path %>
<%= link_to "New dosage", new_patient_dosage_path(@patient) %>
<%= link_to "Prescribe", new_patient_prescription_path(@patient) %>
<% if @patient.dosages.count>0 %>
  <%= link_to 'Dosage Data', [@patient, :dosages] %>
<% end %>